<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--
	<bean id="rtpBroadcaster" class="org.linesofcode.videoServer.broadcast.RtpBroadcaster">
		<constructor-arg index="0" value="1026"/>
	</bean>
	 -->
	
	<bean id="dummyReceiver" class="org.linesofcode.videoServer.receive.DummyReceiver" />
	
	<bean id="videoListHandler" class="org.linesofcode.videoServer.webService.VideoListHandler">
		<property name="responseEncoding" value="UTF-8" />
	</bean>
	
	<bean id="videoDeliveryHandler" class="org.linesofcode.videoServer.webService.VideoDeliveryHandler">
		<property name="videoPath" value="./videoFiles" />
	</bean>
	
	<bean id="webService" class="org.linesofcode.videoServer.webService.HttpWebService" >
		<constructor-arg index="0" ref="videoListHandler" />
		<constructor-arg index="1" ref="videoDeliveryHandler" />
		<property name="listContextName" value="/videos" />
		<property name="deliveryContextName" value="/watch" />
		<property name="port" value="8081" />
		<property name="hostName" value="localhost" />
	</bean>

	<bean id="videoServer" class="org.linesofcode.videoServer.VideoServer">
		<constructor-arg index="0" ref="webService" />
	</bean>
</beans>