<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <bean id="mongodb" class="org.linesofcode.videoServer.db.MongoDbConnector">
	 	<property name="hostName" value="127.0.0.1" />
	 	<property name="dbname" value="videodb" />
	 	<!-- <property name="port" value="27017" />  -->
	 </bean>
	 
	 <bean id="broadcastDao" class="org.linesofcode.videoServer.db.BroadcastDaoMongoImpl" lazy-init="true" scope="prototype">
	 	<constructor-arg index="0" ref="mongodb" />
	 	<property name="collectionName" value="broadcasts" />
	 </bean>
	 
	<bean id="videoServer" class="org.linesofcode.videoServer.VideoServer">
		<property name="videoPath" value="videoFiles" />
		<property name="dataDir" value="data" />
		<property name="tempDir" value="tempFiles" />
		<property name="ffmpegCmd" value="ffmpeg" />
		<property name="ffmpegOptionsArg" value="" />
	</bean>
	
	<bean id="videoListHandler" class="org.linesofcode.videoServer.restApi.VideoListHandler">
		<constructor-arg index="0" ref="videoServer" />
		<property name="responseEncoding" value="UTF-8" />
	</bean>
	
	<bean id="videoDeliveryHandler" class="org.linesofcode.videoServer.restApi.VideoDeliveryHandler">
		<constructor-arg index="0" ref="videoServer" />
	</bean>
	
	<bean id="videoUploadHandler" class="org.linesofcode.videoServer.restApi.VideoUploadHandler" >
		<constructor-arg index="0" ref="videoServer" />
	</bean>
	
	<bean id="restApi" class="org.linesofcode.videoServer.restApi.RestAPI" >
		<constructor-arg index="0" ref="videoListHandler" />
		<constructor-arg index="1" ref="videoDeliveryHandler" />
		<constructor-arg index="2" ref="videoUploadHandler" />
		<property name="listContextName" value="/videos" />
		<property name="deliveryContextName" value="/watch" />
		<property name="uploadContextName" value="/upload" />
		<property name="port" value="8081" />
		<property name="hostName" value="localhost" />
		<property name="uploadTempDir" value="./tempFiles" />
	</bean>
	
</beans>