html {
    height: 100%;
}
body {
    height: 100%;
}

#map {
    height: 85%;
}
#map_canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 1px;
    z-index: 1;
}
#map_canvas img {
    max-width: none;
}